.container {
  display: grid;
  grid-gap: 20px;
  justify-items: center;
  width: 100%;
}

.categories {
  display: grid;
  grid-gap: 20px;
  width: inherit;
  justify-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

.category {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr;
  padding: 2% 5%;
  gap: 5%;
  width: 50%;
  align-items: center;
  grid-template-areas: "name count";
  border: 1px solid var(--secondary-text-color);
  border-radius: 5px;
}

.name {
  grid-area: name;
}

.count {
  grid-area: count;
  font-weight: bold;
}