.container {
  display: grid;
  box-sizing: border-box;
  padding: 40px 0;
  border-top: 2px solid #eee;
}

.title {
  text-align: center;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 20px 0;
  font-size: 1.2rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.commentsContainer {
  display: grid;
  gap: 25px;
}

.comment {
  display: grid;
  gap: 2.5%;
  align-items: start;
  box-sizing: border-box;
  padding: 40px 0;
  border-top: 2px solid #eee;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
}

.even {
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "avatar author""avatar text";
}

.uneven {
  grid-template-columns: 5fr 1fr;
  grid-template-areas: "author avatar""text avatar";
}

.avatar img {
  border-radius: 50%;
}

.avatar {
  grid-area: avatar;
}

.author {
  grid-area: author;
  font-weight: bold;
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  text-align: center;
  padding: 5% 0;
}

.text {
  display: grid;
  grid-area: text;
  grid-template-rows: 1fr auto;
}