.container {
  display: grid;
  box-sizing: border-box;
  padding: 40px 0;
  border-top: 2px solid #eee;
}

.title {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.commentsContainer {
  display: grid;
  gap: 25px;
}

.comment {
  display: grid;
  align-items: center;
  box-sizing: border-box;
  padding: 40px 0;
  border-top: 2px solid #eee;
}

.even {
  grid-template-columns: 1fr 1fr 5fr;
  grid-template-areas: "avatar author text";
}

.uneven {
  grid-template-columns: 5fr 1fr 1fr;
  grid-template-areas: "text author avatar";
}

.avatar img {
  border-radius: 50%;
}

.avatar {
  grid-area: avatar;
}

.author {
  grid-area: author;
  font-weight: bold;
}

.text {
  grid-area: text;
}