.container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, auto);
  align-items: center;
  justify-items: center;
  padding: 20px 15%;
  border-top: 1px solid rgb(240, 240, 240);
  border-bottom: 1px solid rgb(240, 240, 240);
  text-transform: uppercase;
}

/* TODO Вынести */
.link {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  color: #818592;
  font-weight: 400;
}

input {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  color: #818592;
  border: none;
  border-bottom: 1px solid rgb(240, 240, 240);
}