.container {
  display: grid;
  grid-template-areas: 
  "title title title"
  "previousPost . nextPost"
  ;
  grid-template-columns: 3fr 1fr 3fr;
}

.previousPost {
  grid-area: previousPost;
}

.nextPost {
  grid-area: nextPost;
}

.previousPost,
.nextPost {
  display: grid;
  text-align: center;
}

.title {
  grid-area: title;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}