.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr;
}

.avatar img {
  border-radius: 50%;
}

.author {
  display: grid;
  grid-gap: 20px;
  text-align: left;
  align-content: center;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
}