.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 50px);
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px silver;
}