.container {
  padding: 100px 0 0;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--btn-bg-color);
  box-shadow: 2px 1px 1px silver;
}

.active {
  background-color: var(--secondary-text-color);
  box-shadow: 2px 1px 5px rgb(92, 92, 92);
  color: black;
  transform: scale(1.05);
}

.center {
  color: white;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5%;
  justify-items: center;
  align-items: center;
}

.heart {
  animation: heart 2s infinite;
}

.etc {
  color: black;
  font-size: 1.5rem;
}

.button:active {
  transform: scale(0.98);
}

.container a {
  color: white;
  text-decoration: none;
}

.button i {
  color: white;
}

@keyframes heart {
  0% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

/* @media (max-width: 767px) {
  .container {
    grid-template-columns: repeat(3, auto)
  }
} */