.container {
  display: grid;

  /* grid-template-rows: 1fr; */
  grid-template-columns: repeat(3, auto);
  grid-gap: 2%;
  padding: 50px 0;
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}