.container {
  display: grid;
  grid-gap: 50px;
}

.content {
  padding: 0 100px;
}

.contentContainer {
  display: grid;
  grid-template-areas:
    'posts aside';
  grid-template-columns: 5fr 1fr;
  grid-gap: 30px;
}

.posts {
  grid-area: posts;
}

.aside {
  grid-area: aside;
}

.sticky {
  position: sticky;
  top: 0;
}

@media (max-width: 767px) {
  .contentContainer {
    grid-template-areas:
      'posts'
      'aside';
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767px) {
  .content {
    padding: 0 50px;
  }
}