.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: whitesmoke;
}

.postContainer {
  display: grid;
  gap: 50px;
}

.postHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.postContainer textarea {
  min-height: 500px;
}

textarea[name="conclusion"] {
  min-height: 100px;
}

.inputField {
  display: flex;
  flex-direction: column;
}

.inputField .disclosure {
  min-height: 100px;
}

.inputField textarea {
  padding: 20px;
}