.container {
  display: grid;

  /* grid-template-rows: 1fr; */
  grid-template-columns: repeat(3, auto);
  padding: 50px 0;
  grid-gap: 2%;
}

@media (max-width: 767px) {
  .container {
    gap: 20px;
    grid-template-columns: 1fr;
  }
}