.container {
  padding: 50px;
  display: grid;
  gap: 20px;
}

.mainInfo {
  box-shadow: 2px 2px 2px 2px silver;
  border-radius: 10px;
}

.subPosts {
  box-shadow: 2px 2px 2px 2px silver;
  border-radius: 10px;
}

.button {
  width: 200px;
  height: 100px;
  border-radius: 5%;
}