.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.title {
  margin-bottom: 10px;
  font-family: 'Annie Use Your Telescope', "Neucha", cursive;
  font-size: 4rem;
  transition: 0.2s ease;
}

.profession {
  margin-bottom: 10px;
  font-family: 'Annie Use Your Telescope', "Neucha", cursive;
  font-size: 2.5rem;
  transition: 0.2s ease;
}

.title:hover {
  color: var(--secondary-text-color);
}

.subtitle {
  font-family: "Roboto Condensed", sans-serif;
  color: silver;
  letter-spacing: 0.2rem;
}