.container {
  font-family: "Roboto Condensed", sans-serif;
}

.navContainer {
  display: grid;
  justify-items: center;
  width: 100%;
  padding: 30px 0;
  background-color: var(--third-bg-color);
}

.nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-transform: uppercase;
}

.navLink {
  display: flex;
  justify-content: center;
  text-align: center;
}

.navLink a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

.navLink a:hover {
  color: red;
}

.copyright {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}