.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-content: center;
  padding: 20px 0;
  text-align: left;
  border-top: 1px solid silver;
}

.name {
  display: flex;
  gap: 25px;
  font-size: 1.5rem;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 5px;
}