.container {
  display: grid;
  grid-gap: 20px;
  justify-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

.articles {
  display: grid;
  grid-gap: 20px;
}

.articles a {
  text-decoration: none;
  color: black;
}

.article {
  display: grid;
  align-items: center;
  grid-gap: 10px;
  justify-items: left;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "index articleTitle"
  "index view";
}

.index {
  display: flex;
  grid-area: index;
  padding: 5px;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--secondary-text-color);
  border-radius: 50%;
}

.articleTitle {
  grid-area: articleTitle;
  font-family: Inter, sans-serif;
  font-weight: 800;
  letter-spacing: 0.1rem;
}

.view {
  grid-area: view;
}