.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  padding: 10px 0;
  background-color: whitesmoke;
  box-shadow: 1px 1px 1px silver;
}

.container a {
  color: black;
  text-decoration: none;
  transition: 0.3 ease;
}

.container a:hover,
.container span:hover {
  font-weight: bold;
}

.container span {
  cursor: pointer;
}