.container {
  box-shadow: 0 4px 10px 0 rgb(33 33 33 / 15%);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.container::before {
  content: '';
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 100%;
  width: 80%;
  background: linear-gradient(to right, transparent 0%, var(--third-bg-color) 50%, transparent 100%);
  animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

@keyframes load {
  from {
    left: -150px;
  }

  to {
    left: 100%;
  }
}