.container {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1522252234503-e356532cafd5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1450&q=80");
  background-position: left;
  background-size: cover;
  width: 100%;
  height: 500px;
  font-family: "Roboto Condensed", sans-serif;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  /* https://cssgradient.io/ */
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 40%, rgba(231, 81, 72, 1) 60%);
  width: 100%;
  height: 100%;
  color: white;
  z-index: 1000;
}

.sideHeader {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30px 5px auto 50px auto;
  gap: 20px;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.subTitle {
  font-size: 2rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.hr {
  width: 50%;
  height: 1px;
  background-color: white;
}

.button {
  background-color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 800;
  color: rgba(231, 81, 72, 1);
  padding: 15px 45px;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
}

.button:hover {
  background-color: black;
  color: white;
}

.right {
  position: absolute;
  top: 50%;
  right: 0;
  width: 30px;
  height: 60px;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  background: white;
  opacity: 0.85;
  transform: translateY(-50%);
  z-index: 1000;
  color: black;
  transition: 0.3s ease;
}

.right i {
  position: absolute;
  font-size: 1.2rem;
  top: 50%;
  transform: translateX(100%) translateY(-50%);
  color: #76797E;
}

.left {
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 60px;
  /* http://shpargalkablog.ru/2017/08/semicircle.html */
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  background: white;
  opacity: 0.85;
  transform: translateY(-50%);
  color: black;
  transition: 0.3s ease;
}

.left i {
  position: absolute;
  font-size: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
  color: #76797E;
}


.right:hover,
.left:hover {
  opacity: 1;
  color: black;
}

.pageDots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 10px;
  height: 10px;
  border: 3px solid white;
  margin: 5px;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .sideHeader {
    width: 100%;
  }
  .title {
    font-size: 1.9rem;
  }
  .subTitle {
    font-size: 1.2rem;
  }
  .right i {
    font-size: 1rem;
  }
  .left, .right {
    width: 25px;
    height: 50px;
  }
}