.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  grid-gap: 30px;
}

.latestPost {
}

.columnTitle {
  padding: 20px 0;
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.postList {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
}