.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  grid-gap: 30px;
}

.columnTitle {
  padding: 20px 0;
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.postList {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 767px) {
  .postList {
    gap: 20px;
    grid-template-columns: 1fr;
  }
}