.container {
  display: grid;
  grid-gap: 20px;
  justify-items: center;
  line-height: 1.5rem;
  text-align: center;
}

.container img {
  width: 100%;
}

.category {
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2rem;
  transition: 0.2s ease;
}

.date {
  font-style: italic;
  font-size: 0.9rem;
}

.title:hover {
  color: var(--secondary-text-color);
}

.description {
  text-align: center;
}

.button {
  text-transform: uppercase;
  padding: 15px 30px;
  font-weight: bold;
  background: none;
  border: 1px solid rgb(190 190 190);
  border-radius: 5px;
  cursor: pointer;
  transition: .2s ease all;
}

.button a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.button:hover {
  background-color: #363940;
  color: #fff;
}