.container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  justify-items: center;
  padding: 20px 15%;
  text-transform: uppercase;
  border-top: 1px solid rgb(240 240 240);
  border-bottom: 1px solid rgb(240 240 240);
}

/* TODO Вынести */
.link a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #818592;
  text-decoration: none;
  transition: 0.3s;
}

.link a:hover {
  color: red;
}

input {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  color: #818592;
  border: none;
  border-bottom: 1px solid rgb(240 240 240);
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}