.container {
  display: grid;
  grid-gap: 10px;
  justify-items: center;
  text-align: center;
}

.columnTitle {
  padding: 20px 0;
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.avatar img {
  border-radius: 50%;
  overflow: hidden;
}

.fio {
  font-size: 1.2rem;
  font-weight: bold;
}

.about {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #444;
  text-align: center;
  line-height: 1.8;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.button {
  padding: 8px 12px;
  background: #fff;
  cursor: pointer;
  font-family: "Roboto Condensed",sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  background-color: #363940;
  border: none;
  color: #fff;
  border-radius: 2px;
  transition: .2s ease all;
  border-color: transparent;
}