.container {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'posts aside';
  grid-template-columns: 5fr 1fr;
}

.posts {
  grid-area: posts;
}

.aside {
  grid-area: aside;
}

.sticky {
  position: sticky;
  top: 0;
}

@media (max-width: 767px) {
  .container {
    grid-template-areas:
      'posts'
      'aside';
    grid-template-columns: 1fr;
  }
}