.container {
  display: grid;
  grid-template-columns: auto 20px;
  grid-template-areas:
    "label trash"
    "input trash";
  padding: 10px;
  gap: 20px;
  align-items: center;
}

.container label {
  grid-area: label;
  text-shadow: 1px 1px 1px white;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.container input {
  grid-area: input;
}

.container i {
  grid-area: trash;
}

input[type=textarea] {
  height: 300px;
}