.container {
  display: grid;
  gap: 10px;
  grid-template-columns: 4fr 2fr 2fr 0.5fr;
  grid-template-rows: 50px;
  padding: 0 100px;
  font-weight: 600;
  justify-items: center;
  align-items: center;
  grid-template-areas: "menu socialContainer langSwitcher auth";
  background-color: var(--secondary-bg-color);
  border-bottom: 1px solid var(--secondary-text-color);
}

.menu {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-area: menu;
  font-size: 0.8rem;
  text-transform: uppercase;
  justify-content: space-around;
}

.menuItem p {
  display: flex;
  text-align: center;
  justify-content: center;
  transition: 0.2s ease;
}

.socialContainer {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, auto);
  grid-area: socialContainer;
}

.container a,
.menuItem:hover {
  color: red;
}

.auth {
  display: flex;
  grid-area: auth;
  justify-content: flex-end;
}

.langSwitcher {
  grid-area: langSwitcher;
}

@media (max-width: 767px) {
  .container {
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
    grid-template-areas:
      "menu auth"
      "socialContainer socialContainer"
      "langSwitcher langSwitcher";
    justify-items: center;
    padding: 10px 50px;
  }

  .socialContainer i {
    font-size: 1.5rem;
  }
}