.container {
  background-color: var(--secondary-bg-color);
  border-bottom: 1px solid var(--secondary-text-color);
}

.sidebar {
  display: none;
}

.navContainer {
  display: grid;
  gap: 10px;
  grid-template-columns: 4fr 2fr 2fr 0.5fr;
  grid-template-rows: 50px;
  padding: 0 100px;
  font-weight: 600;
  justify-items: center;
  align-items: center;
  grid-template-areas: "menu socialContainer langSwitcher auth";
  transition: 0.3s ease;
}

.menu {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-area: menu;
  font-size: 0.8rem;
  width: 100%;
  text-transform: uppercase;
  justify-content: space-around;
}

.menuItem p {
  display: flex;
  text-align: center;
  justify-content: center;
  transition: 0.2s ease;
}

.socialContainer {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, auto);
  grid-area: socialContainer;
}

.container a,
.menuItem:hover {
  color: red;
}

.auth {
  display: flex;
  grid-area: auth;
  justify-content: flex-end;
}

.langSwitcher {
  grid-area: langSwitcher;
}

@media (max-width: 767px) {
  .sidebar {
    display: grid;
    padding: 5%;
  }

  .navContainer {
    position: absolute;
    left: -100%;
    background-color: var(--secondary-bg-color);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content max-content;
    padding: 5%;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      "menu"
      "langSwitcher"
      "auth";
    justify-items: start;
  }

  .socialContainer {
    display: none;
  }

  .menu {
    justify-items: start;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 1rem;
  }
}

.showSidebar {
  left: 0;
}