.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 5%;
}

.slide {
  width: 50px;
  height: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 5px rgb(170, 170, 170);
}

.ball {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.5s ease;
  color: black;
  left: 0;
}

.active {
  left: 100%;
  transform: translateX(-100%);
}

.ball i {
  font-size: 1.3rem;
  transition: 0.5s ease;
}

.active i {
  color: red;
}