.container {
  position: fixed;
  width: 30px;
  height: 30px;
  background-color: var(--btn-bg-color);
  border-radius: 50%;
  right: 30px;
  bottom: 30px;
  z-index: 1000;
}

.container i {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  color: white;
}