.container {
  display: grid;
  grid-gap: 25px;
  line-height: 1.5rem;
  text-align: center;
}

.postDescription {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "author date category"
    "description description description"
  ;
}

.postDescription span {
  color: silver;
}

.author {
  grid-area: author;
}

.date {
  grid-area: date;
}

.description {
  grid-area: description;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-style: italic;
  font-size: 0.9rem;
}

.container img {
  width: 100%;
}

.category {
  color: var(--secondary-text-color);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.2rem;
  transition: 0.2s ease;
}

.title:hover {
  color: var(--secondary-text-color);
}

.disclosure {
  font-style: italic;
  font-size: 0.8rem;
}

.description {
  text-align: left;
}

.nav {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  justify-content: center;
}

.nav button {
  padding: 8px 12px;
  background: #fff;
  cursor: pointer;
  font-family: "Roboto Condensed",sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  background-color: #363940;
  border: none;
  color: #fff;
  border-radius: 2px;
  transition: .2s ease all;
  border-color: transparent;
}

.nav button:hover {
  color: #222;
  line-height: 1.2;
  background-color: rgb(209, 209, 209);
}

.subPostsContainer {
  text-align: left;
}

.text p {
  text-indent: 1.5em;
  text-align: left;
}

.conclusion {
  display: grid;
  gap: 20px;
  box-sizing: border-box;
  padding: 40px 0;
  border-top: 2px solid #eee;
}

.conclusion .title {
  line-height: 1.5rem;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.conclusion p {
  text-align: left;
}