.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 20px;
}

.inputField {
  display: flex;
  flex-direction: column;
}

.inputField .disclosure {
  min-height: 100px;
}

.inputField textarea {
  padding: 20px;
  min-height: 100px;
}